* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
	font-family: 'Source Sans 3', serif;
	overflow: hidden;
	height: 100vh;
	display: grid;
	grid-template-rows: 7% 7% 80%;
	font-size: 18px;
}

.tab-row {
	background-color: rgba(124, 8, 42, 0.19);
	display: flex;
	align-items: center;
	padding: 4px 20px;

	.tabs-container {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	.tab {
		display: flex;
		padding: 7px 20px;
		border-radius: 7px;
		width: 250px;
		justify-content: space-between;
		position: relative;
		overflow-x: hidden;
		cursor: default;
		user-select: none;
		white-space: nowrap;

		&:hover {
                  background-color: rgba(48, 54, 57, 0.15);
            }
	}
	.tab-left {
		display: flex;
		align-items: center;
		white-space: nowrap;

		p {
			-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  			mask-image: linear-gradient(to right, black 80%, transparent 100%);
			width: 180px;
			font-size: 1rem;
		}

	}
	.tab-icon {
		width: 12px;
		height: 12px;
		background-color: #7C082A;
		margin-right: 10px;
	}
	.close-tab {
		height: 24px;
		border: none;
		border-radius: 4px;
		background-color: transparent;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 17%;

		img {
			width: 15px;
			height: 15px;
            }
		&:hover {
			background-color: rgba(67, 80, 88, 0.44);
		}
	}
	.active {
		background-color:  #fff;
		box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.10);

		&:hover {
			background-color: #fff
		}
	}
	.add-tab {
		margin-left: 10px;
		border: none;
		border-radius: 4px;
		background-color: transparent;
		padding: 3px;
		height: 30px;
		
		&:hover {
			background-color: rgba(67, 80, 88, 0.44);
		}
	}
	
}
@keyframes expand {
	from {width: 600px;}
	to {width: 900px;}
}
.search-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 20px;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: #f5f5f5;

	.nav-icons {
		display: flex;
		justify-content: flex-start;
		gap: 10px;
		margin-left: 15px;
		button {
			border: none;
			border-radius: 4px;
			padding: 5px;
			background: transparent;

			&:hover {
				background-color: rgba(67, 80, 88, 0.44);
				
			}
		}

	}
	.input-container {
		position: relative;
		.search-icon {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		input {
			width: 500px;
			height: 35px;
			border: none;
			border-radius: 5px;
			background-color: #fff;
			padding: 16px 0 16px 50px;
			font-size: 1.1rem;
			transition: width 0.3s ease;
			
			&:focus {
				outline: none;
				border: none;
				box-shadow: 4px 8px 8px 0px rgba(0,0,0,0.10);
			}
			&.clicked {
				animation: expand 1s forwards;
			}
		}
		#suggestion-box {
			position: absolute;
			width: 900px;
			top: 33px;
			background-color: white;
			box-shadow: 4px 8px 8px 0px rgba(0,0,0,0.10);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			
			& > :first-child {
				padding-top: 10px;
			}
			& > div {
				padding: 10px 0px 10px 50px;
				cursor: pointer;

				&:hover {
                              background-color: rgba(67, 80, 88, 0.44);
                        }
			}
		}
	}

}

.home {
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.logo-container {
	display: flex;
	align-items: center;
}
.logo-img {
	width: 120px; 
	height: 150px; 
	background-image: url("../imgs/logo.png");
	background-size: 100px 100px;
	background-position: center; 
	background-repeat: no-repeat; 
}
.logo-text {
	background-image: url("../imgs/name.svg");
	width: 200px;
	height: 70px;
	background-position: center; 
	background-repeat: no-repeat; 
}
#address-bar::placeholder {
	font-family: 1rem;
}
.search-home {
	width: 600px;
	height: 50px;
	border: none;
	box-shadow: 2px 2px 10px 4px rgba(219,219,219,1);	border-radius: 5px;
	padding-left: 20px;
	font-size: 0.9rem;
	margin-bottom: 15px;

	&:focus {
		outline: 2px solid #567A9F;
	}
}
.popular {
	p {
		text-align: left;
	}
	.pop-list {
		display: flex;
		gap: 50px;
		margin-top: 15px;
		div {
			width: 90px;
			height: auto;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
    			cursor: pointer;
		}
	}
	.pop-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		div {
			width: 100px;
			height: 100px;
		}
	}
	.pop-img {
		border-radius: 8px;
		background-size: cover;
		background-position: center;
	}
	.pop-label {
		cursor: pointer;
		width: 100px;
		text-align: center;
	}
}
.webview-container {
	height: 100vh;
	width: 100%; 
	margin: 0;
	padding: 0;
	display: flex;
}

webview {
	width: 100%;
	height: 100vh;
	border: none;
    z-index: -1;
    position: absolute;
    visibility: hidden;
}
webview.active {
    z-index: 1;
    visibility: visible;
}