* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

.tab-row {
	background-color: rgba(124, 8, 42, 0.19);
	display: flex;
	align-items: center;
	padding: 4px 20px;

	.tab-opt {
		margin-right: 10px;
		margin-top: 5px;
		border: none;
		border-radius: 4px;
		background-color: transparent;
		padding: 3px;
		display: flex;

		.lock{
			width: 20px;
			height: 15px;
			border: 3px solid rgba(9, 36, 75, 0.8);
			border-radius: 5px;
			position: relative;
			cursor: pointer;
			-webkit-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;
		}
		.lock::after {
			content: "";
			display: block;
			background: rgba(9, 36, 75, 0.8);
			width: 3px;
			height: 7px;
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -3.5px 0 0 -2px;
			-webkit-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;
		}
		.lock:before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			bottom: 100%;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			border: 3px solid rgba(9, 36, 75, 0.8);
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom: 0;
			-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
		.unlocked {
			transform: rotate(2deg);
		}
		.unlocked:before {
			bottom: 130%;
			left: 31%;
			margin-left: -11.5px;
			transform: rotate(-45deg);
		}
		.unlocked,
		.unlocked:before {
			border-color: rgba(227, 23, 10, 0.8);
		}
		.unlocked:after {
			background: rgba(227, 23, 10, 0.8);
		}
		.unlocked:hover {
			transform: rotate(1deg);
		}
		.unlocked:hover:before {
			height: 10px;
			left: 40%;
			bottom: 124%;
			transform: rotate(-25deg);
		}
	}
	.tabs-container {
		display: flex;
		flex-direction: row;
		gap: 2px;
	}
	.tab {
		display: flex;
		padding: 7px 10px;
		border-radius: 7px;
		width: 180px;
		justify-content: space-between;
		cursor: default;
		user-select: none;
		white-space: nowrap;

		&:hover {
                  background-color: rgba(48, 54, 57, 0.15);
            }
	}
	.tab-left {
		display: flex;
		align-items: center;
		white-space: nowrap;

	}
	.tab-icon {
		width: 12px;
		height: 12px;
		background-color: #7C082A;
		margin-right: 10px;
	}
	.close-tab {
		width: 23px;
		height: 25px;
		border: none;
		border-radius: 4px;
		background-color: transparent;

		&:hover {
			background-color: rgba(67, 80, 88, 0.44);
		}
	}
	.active {
		background-color:  #fff;
		box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.10);

		&:hover {
			background-color: #fff
		}
	}
	.add-tab {
		margin-left: 10px;
		width: 23px;
		height: 25px;
		border: none;
		border-radius: 4px;
		background-color: transparent;

		&:hover {
			background-color: rgba(67, 80, 88, 0.44);
		}

		img {
			width: 15px;
		}
	}
	
}
@keyframes expand {
	0% {width: 600px;}
	100% {width:900px;}
}
.search-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 20px;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: #f5f5f5;

	.nav-icons {
		display: flex;
		justify-content: flex-start;
		gap: 10px;
		margin-left: 15px;
		button {
			border: none;
			border-radius: 4px;
			padding: 5px;
			background: transparent;

			&:hover {
				background-color: rgba(67, 80, 88, 0.44);
				
			}
		}

	}
	.input-container {
		position: relative;
		.search-icon {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		input {
			width: 500px;
			height: 30px;
			border: none;
			border-radius: 5px;
			background-color: rgba(124, 8, 42, 0.19);
			padding: 16px 0 16px 50px;
			font-size: 0.9rem;
			
			&:focus {
				background-color: #fff;
				outline: none;
				border: none;
				box-shadow: 4px 8px 8px 0px rgba(0,0,0,0.10);
				width: 900px;
				animation-name: expand;
				animation-duration: 1s;
			}
		}
	}
}

.logo-container {
	display: flex;
	align-items: center;
}
.logo-img {
	width: 120px; 
	height: 150px; 
	background-image: url("../imgs/logo.png");
	background-size: 100px 100px;
	background-position: center; 
	background-repeat: no-repeat; 
}
.logo-text {
	background-image: url("../imgs/name.svg");
	width: 200px;
	height: 70px;
	background-position: center; 
	background-repeat: no-repeat; 
}
.search-box {
	width: 600px;
	height: 50px;
	border: none;
	box-shadow: 2px 2px 10px 4px rgba(219,219,219,1);	border-radius: 5px;
	padding-left: 20px;
	font-size: 0.9rem;

	&:focus {
		outline: 2px solid #567A9F;
	}
}
.popular {
	p {
		text-align: left;
	}
	.pop-list {
		display: flex;
		gap: 50px;
		margin-top: 15px;
		div {
			width: 80px;
			height: 80px;
			background-color: #000;
		}
	}
}
.webview-container {
	height: 100vh;
	width: 100%; 
	margin: 0;
	padding: 0;
	display: flex;
}

webview {
	width: 100%;
	height: 100vh;
	border: none;
}